
	<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4" id="WebApp_ID">
		<servlet>
		<servlet-name>First</servlet-name>
		<servlet-class>p1.ValidateAdmin</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>First</servlet-name>
		<url-pattern>/demo</url-pattern>
		</servlet-mapping>
		<servlet>
		<servlet-name>Second</servlet-name>
		<servlet-class>p1.InsertEvents</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>Second</servlet-name>
		<url-pattern>/addnew</url-pattern>
		</servlet-mapping>
		<servlet>
		<servlet-name>Third</servlet-name>
		<servlet-class>p1.RetrieveEvents</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>Third</servlet-name>
		<url-pattern>/view</url-pattern>
		</servlet-mapping>
		<servlet>
		<servlet-name>Fourth</servlet-name>
		<servlet-class>p1.ValidateStudent</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>Fourth</servlet-name>
		<url-pattern>/student</url-pattern>
		</servlet-mapping>
		<servlet>
		<servlet-name>Fifth</servlet-name>
		<servlet-class>p1.DeleteStudent</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>Fifth</servlet-name>
		<url-pattern>/delete</url-pattern>
		</servlet-mapping>
	</web-app>